@use 'variables' as *;
@use 'mixins' as *;

body {
  background-color: $color-white;
  color: $color-text;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif;
  font-size: 1.6rem;
}

// Headings
h1 {
  @include font-size($font-size-h1);
}

h2 {
  @include font-size($font-size-h2);
}

h3 {
  @include font-size($font-size-h3);
}

// Links
a {
  @include focus-visible;

  transition: color $transition-base;

  &:hover {
    color: $color-prime;
  }
}

// Skip link
.skip-link {
  background-color: $color-black;
  color: $color-white;
  left: -9999px;
  padding: 1em;
  position: absolute;
  z-index: $z-modal + 1;

  &:focus {
    left: 0;
  }
}
